/*Code for the nav bar*/
.logo {
    position: absolute;
    left: 0; 
    width: 2.25rem; 
    height: 2.25rem;
    margin: 0.3rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #242424;
    padding-left: 48px;
}
nav li {
    /* messing around with a border */
    /* border-left: solid;
    border-width: 0.01rem;
    border-color: silver; */
    /* margin: left; */
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*cool blue #202835 */
nav li a:hover:not(.active) {
    background-color: #202835;
}

nav .active {
    background-color: #2A3035;
}


/*sets margin to 0 in body so that nav bar spans properly*/
body {
    margin: 0;
}

/*main body*/
main {
    margin: 3rem;
}
html {
    background-color: #2A3035;
    color: silver;
}